.projects {
  position: relative;
  padding-bottom: 28px;
}

.projects__grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(214px, 1fr));
  gap: 32px;
}

.projects__show-more {
  position: absolute;
  bottom: 29px;
  left: calc(50% - 70px);
}
